
.public-header{
	height: 300px;
	/*background:#003bb3;*/
	margin:0 auto;
}
.public-header .header-logo{
	float: left;
	width:56px;
	height:61px;
	margin-top:150px;
	background: url(../images/logo.png) no-repeat;	
}

.public-header .header-txt{
	float: left;
	/*background: yellow;*/
	margin-top: 150px;
	margin-left: 10%;
}

.public-header .header-txt .header-p{
	float:left;
	margin-left:20px;
}

.public-header .header-nav{
float: right;
font-size: 14px;
}
.public-header .header-nav .item{
	float: left;
	margin-top: 150px;
	margin-left: 20px;
}

/*This is-----------header*/

.public-footer{
	height: 20px;
	/*background:yellow;*/
	margin:0 auto;
}

.public-footer .footer-nav .item{
	float: left;
	margin-left: 2%;
	padding-right: 
}


.public-footer .fix-copy {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-text-orientation: sideways;
    text-orientation: sideways;
    color: #4d4d4d;
   /* font-style: italic;*/
}
.public-footer .fix-copy {
	font-size: 80%;
    z-index: 200;
    display: block;
    position: fixed;
    top: 50%;
    right: 16px;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}
/*This is-----------footer*/


.public-container{
	position: relative;
	margin: 0 auto;
	background: #006dcc;


}













