body,div,dl,dt,dd,ul,li,h1,h2,h3,h4,h5,h6,input,form,a,p,textarea{
margin: 0;
padding: 0;
font-family:"Helvelica Neue,helevetica,Arial,sans-serif";
}
ol,ul,li{
	list-style: none;
}
a{
	text-decoration: none;
	display: block;
	color: #000;
}
img{
	border: none;
	display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
}
body{
	background: #f3f3f3;
	
}


.fix-copy {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-text-orientation: sideways;
    text-orientation: sideways;
    color: #4d4d4d;
   /* font-style: italic;*/
}
.fix-copy {
	font-size: 80%;
    z-index: 1;
    display: block;
    position: fixed;
    top: 50%;
    left: 16px;
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);
}

.fix-copy {
    -webkit-writing-mode: vertical-rl;
    -ms-writing-mode: tb-rl;
    writing-mode: vertical-rl;
    -webkit-writing-mode: tb-rl;
    writing-mode: tb-rl;
    -webkit-text-orientation: sideways;
    text-orientation: sideways;
    color: #4d4d4d;
   /* font-style: italic;*/
}


.fix-sns {
	position: fixed;
    right: 30px;
    left: auto;
	width: 17px;
	z-index: 200;
    top: 36%;
}
.fix-sns-item{
	margin-bottom: 36px;
}




.navbar{
	width: 100%;
	height: 46px;
	padding: 16px 0 0;
	background:#fff;
	z-index: 150;
    padding: 0 7px;
    position: fixed;
}

.logo{
	position: absolute;
    left: 15px;
    top: 10px;
    width: 26px;
    height: 28px;
 
}
.menu-btn{
    width: 36px;
    height: 15px;
   	margin: 0 auto;
   	margin-top: 10px;
 
}
.menu-title{
    position: absolute;
    right: 26px;
    top: 6px;
    font-size: 0.6em;
}

.mainvisual{
    background-size: cover;
}

/*－－－－－－－－*/
.mainvisual-textarea {
    width:100%;
    position: absolute;
    top:65%;
    text-align: center;
}
.mainvisual-litailong {
    width: 76%;
    margin: 0 auto 10px;
}



.block-title {
    text-align: center;
    font-family: "Lato", sans-serif;
    font-weight: 100;
    font-size: 2.9rem;
    margin: 0 0 15px;
    text-transform: uppercase;
}

/*#profile{
	height: 50px;
	background:url(../images/separate_main_top.svg) no-repeat;;
    background-size: 100% 100%;
    content: "";
    display: block;
    



}*/
#profile{
	background: red;
}
.profile-block{
	
	background: red;
	margin:0 auto;

}
.profile-img{
	width: 23%;
	float:left
}
.profile-img img{
	width:100%;
   
}

.profile-desc{
width: 36%;
float:left;
float: left;
text-align: left;
font-size: 12px;
}
.profile-text{
    text-align: left;
    line-height: 1.8;
}